* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-main);
    background-color: #e0e0e0; /* Darker background to make canvas pop */
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

button, input, select {
    font-family: inherit;
    font-size: 1rem;
}

img {
    max-width: 100%;
    display: block;
}