.month-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
}

.month-header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 8px;
    font-family: var(--font-header);
    font-weight: bold;
    text-transform: uppercase;
}

/* Grid Layouts */
.days-header, .dates-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days-header div {
    padding: 5px 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.dates-grid {
    flex: 1; /* Fill remaining space */
    grid-auto-rows: 1fr; /* Equal height rows */
}

.date-cell {
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.date-cell:nth-child(7n) {
    border-right: none;
}

/* Text Styling inside cells */
.date-masehi {
    font-size: 1.1rem;
    font-weight: bold;
}

.date-pasaran {
    font-size: 0.65rem;
    color: var(--secondary-color);
    margin-top: 2px;
}

/* Sunday Red */
.date-cell.is-sunday, .days-header div.is-sunday {
    color: var(--danger);
}