name: Publish to Crates.io

on:
  push:
    tags:
      - 'rust/v*'
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: publishing
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Publish to Crates.io
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}